## Final Project Submission

Please fill out:

* Student names: JEREMIAH WAIGURU,PAUL NGATIA,WINFRED BUNDI,MERCY KIRAGU.
                 
* Student pace: Full time-Hybrid
* Scheduled project review date/time: 
* Instructor name: Maryann Mwikali
* Blog post URL:

## Data Preparation

### Importing libraries

In [24]:
import pandas as pd

### Loading datasets

In [25]:

class DataLoader:
    def __init__(self, base_path):
        self.base_path = base_path

    def load_dataset(self, file_name):
        return pd.read_csv(f'{self.base_path}/{file_name}')

    def load_movies(self):
        return self.load_dataset('movies.csv')

    def load_ratings(self):
        return self.load_dataset('ratings.csv')

    def load_tags(self):
        return self.load_dataset('tags.csv')

    def load_links(self):
        return self.load_dataset('links.csv')  

# Initialize DataLoader and load datasets
base_path = 'C:\\Users\\JEREMY\\Documents\\Dsc-Phase-4-project-group-4\\ml-latest-small' 
data_loader = DataLoader(base_path)

movies = data_loader.load_movies()
ratings = data_loader.load_ratings()
tags = data_loader.load_tags()
links = data_loader.load_links()

# Display the first few rows of each dataset
print("Movies DataFrame:")
print(movies.head())
print("\nRatings DataFrame:")
print(ratings.head())
print("\nTags DataFrame:")
print(tags.head())
print("\nlinks DataFrame:")
print(links.head())

Movies DataFrame:
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

Ratings DataFrame:
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Tags DataFrame:
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

links DataFrame:
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

#### checking the shape

In [26]:
# function to check the shape of the datasets

class DataLoader:
    def __init__(self, datasets):
        self.datasets = datasets

    def check_shapes(self):
        # Check the shape of each dataset
        for name, df in self.datasets.items():
            print(f"{name} DataFrame Shape: {df.shape}")

# Pre-loaded datasets
datasets = {
    'Movies': movies,
    'Ratings': ratings,
    'Tags': tags,
    'Links': links
}

# Initialize DataLoader with pre-loaded datasets
data_loader = DataLoader(datasets)

# Display the shape of each dataset
data_loader.check_shapes()

Movies DataFrame Shape: (9742, 3)
Ratings DataFrame Shape: (100836, 4)
Tags DataFrame Shape: (3683, 4)
Links DataFrame Shape: (9742, 3)

#### verify data types

In [27]:
# Data Types Verification: 
print("Movies DataFrame Info:")
movies.info()

print("\nRatings DataFrame Info:")
ratings.info()

print("\nLinks DataFrame Info:")
links.info()

print("\nTags DataFrame Info:")
tags.info()

Movies DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

Ratings DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

Links DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

Tags DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

#### Checking missing values

In [30]:
# Check for missing values
print("Missing Values in Movies DataFrame:")
print(movies.isnull().sum())

print("\nMissing Values in Ratings DataFrame:")
print(ratings.isnull().sum())

print("\nMissing Values in Links DataFrame:")
print(links.isnull().sum())

print("\nMissing Values in Tags DataFrame:")
print(tags.isnull().sum())

Missing Values in Movies DataFrame:
movieId    0
title      0
genres     0
dtype: int64

Missing Values in Ratings DataFrame:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Missing Values in Links DataFrame:
movieId    0
imdbId     0
tmdbId     8
dtype: int64

Missing Values in Tags DataFrame:
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

From the above information, our datasets have no missing data except for the links dataset.

We are going to remove the rows with missing data since it is only 0.082% of the data

In [33]:
# Handling Missing Values
# drop rows with missing data in the tmdbId column of the links.csv dataset, 
links.dropna(inplace=True)

#### checking duplicates

In [32]:
# Check for duplicates in each dataset
duplicates = {
    "movies.csv": movies.duplicated().sum(),
    "ratings.csv": ratings.duplicated().sum(),
    "tags.csv": tags.duplicated().sum(),
    "links.csv": links.duplicated().sum()
}

print(duplicates)

{'movies.csv': 0, 'ratings.csv': 0, 'tags.csv': 0, 'links.csv': 0}

To gain more insights that can guide our model development, We'll look at the distribution of ratings, the number of movies and users, and conduct a genre analysis.

Therefore we'll merge the two datasets, 'movies' and 'Ratings'

#### Work on columns then merge datasets

In [53]:
# Convert timestamp column in `ratings.csv` to a more readable date-time format.

ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

# Display the updated data types for these two datasets
updated_data_type = {
    "ratings.csv": ratings.dtypes,
}

updated_data_type

{'ratings.csv': userId                int64
 movieId               int64
 rating              float64
 timestamp    datetime64[ns]
 dtype: object}

In [36]:
#  confirm the timestamp column is now in date time
ratings.head()

   userId  movieId  rating           timestamp
0       1        1     4.0 2000-07-30 18:45:03
1       1        3     4.0 2000-07-30 18:20:47
2       1        6     4.0 2000-07-30 18:37:04
3       1       47     5.0 2000-07-30 19:03:35
4       1       50     5.0 2000-07-30 18:48:51

In [41]:
# Genre Processing: Split the genres in the `movies.csv` dataset 

# Ensuring  genres are split correctly
movies['genres'] = movies['genres'].apply(lambda x: x.split('|') if isinstance(x, str) else x)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

#### Merging datasets

In [54]:
# Merge movies with ratings
movies_ratings = pd.merge(ratings, movies, on='movieId')

# Display the first few rows of the merged dataset
movies_ratings

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,5,1,4.0,1996-11-08 06:36:02,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
2,7,1,4.5,2005-01-25 06:52:26,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
3,15,1,2.5,2017-11-13 12:59:30,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
4,17,1,4.5,2011-05-18 05:28:03,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
...,...,...,...,...,...,...
100831,610,160341,2.5,2016-11-19 08:55:49,Bloodmoon (1997),"[Action, Thriller]"
100832,610,160527,4.5,2016-11-19 08:43:18,Sympathy for the Underdog (1971),"[Action, Crime, Drama]"
100833,610,160836,3.0,2017-05-03 20:53:14,Hazard (2005),"[Action, Drama, Thriller]"
100834,610,163937,3.5,2017-05-03 21:59:49,Blair Witch (2016),"[Horror, Thriller]"
100835,610,163981,3.5,2017-05-03 22:22:35,31 (2016),[Horror]